


.ion-page {
    overflow-y: hidden;
}



.resultsparentdiv {
    display: block;
    
}


.btndiv {
    align-items: center;
    font-size: larger;
    overflow-y: hidden;
    text-align: center;

}


ion-grid {
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
    --ion-grid-row-padding: 0;
    /* --ion-grid-width-column: small; */
    
    
    
    
}


ion-row {
    height: 78px;
  }

ion-col {
    -size: 4;
}



#resutlscol {
    height: 100px;
    width: 20%;
    justify-content: center;
    align-items: center;
}

#secondrow {
    width: 75%;
}



.parentdiv {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    height: 310px;
    
}


#historybtn {
    height: 0px;
    width: 80%;
    
}


@media all and (orientation:portrait) {

    /* Styles for Portrait screen */ 

    .displaydiv , .resultsdiv {

        align-items: center;
        font-size: larger;
        overflow-y: hidden;
        text-align: center;
        font-size: 60px;
        /* height: 50%; */
        width: 100%;
        display: grid;
        
        
    }

    
    .ionbutton {
        width: 99%;
        height: 100%;
        font-size: larger;
        color:white ;
        --background: transparent;
        border-style: solid;
        border-radius: 50%;
        
    }


    .opbutton {
        width: 99%;
        height: 100%;
        font-size: larger;
        color:black ;
        --background: yellow;
        
        border-radius: 50%;
        
    }

    #zerobtn {
        width: 178px;
        /* padding-left: 20%; */
        height: 99%;
        border-radius: 45%;
        --background: transparent;
        border-style: solid;
        color: white;
        
    
    }

    #resultsBtn {
        height: 150px;
        padding-left: 7%; 
        width: 90%;
        border-radius: 45%;
        border-style: none;
        
        
    
       
    }
    #historybtn {
        height: 3px;
        width: 80%;
        --background: white;
        
    }

    .screen {
        
        overflow-y: hidden;
    }
    


    





.calccontainer {
    
    width: 375px;
    height: 415px;
    overflow-y: hidden;
    /* background-color: blue; */
}
.hiddenside {
    display:none;
    width: 0px;
}
}  


@media all and (orientation:landscape) {  
    /* Styles for Landscape screen */  

    
    
 .hiddenside {
    
    display:block;
    width:100px;
    height:100px;
    background:blue;
}
}  


.screen {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    overflow-y: hidden;
}


.zerodiv {
    margin: 0;
    padding: 0;
    
}